<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            COBRAPI: Portal Sistemas
            <a mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item>
                <i class="material-icons">info</i>
                Acesso ao Portal
            </a>
            <a mat-list-item>
                <i class="material-icons">help_outline</i>
                Ouvidoria
            </a>
            Sistemas
            <a mat-list-item>
                <i class="material-icons">arrow_forward_ios</i>
                Engenharia
            </a>
            <a mat-list-item>
                <i class="material-icons">arrow_forward_ios</i>
                Administração
            </a>
            <a mat-list-item>
                <i class="material-icons">arrow_forward_ios</i>
                Qualidade
            </a>
            <a mat-list-item>
                <i class="material-icons">arrow_forward_ios</i>
                Cobrapi Educação
            </a>
            Administrativo Portal
            <a mat-list-item>
                <i class="material-icons">arrow_forward_ios</i>
                Tabelas
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        teste
    </mat-sidenav-content>
</mat-sidenav-container>
